.box {
    border: 2px solid black;
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: white;
}

.box p {
    display: flex;
    justify-self: flex-end;
}