*{
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 9.375rem;
    align-items: center;
    border-bottom: 2px solid black;
    flex-wrap: wrap;
}

#logo {
    display: flex;
    width: 7rem;
    height: 7rem;
}

.searchbar {
    display: flex;
}

.account_login {
    display: flex;
}
