* {
    margin: 0;
    padding: 0;
}

.product_background {
    display: flex;
    width: 100%vw;
    height: 100%vh;
    justify-content: center;
}

.background {
    width: 60rem;
    height: 50rem;
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    border: 2px solid black;
    padding: 2rem;
    justify-content: space-evenly;
    background-color: lightblue;
}

.product {
    border: 1px solid black;
    width: 16rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
    line-height: 1.2rem;
    background-color: white;
}