.login_header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 2px solid black;
    padding: 0px;
}

.login_header img {
    display: flex;
    width: auto;
    height: 100px;
}