

.backgroundbanner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40rem;
}

.login_box {
    border: 2px solid black;
    display: flex;
    width: 15rem;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.2rem;
}

.button {
    border: 1px solid black;
    background-color: lightgrey;
    width: 5rem;
    height: 2rem;
    margin-top: 0.7rem;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
}