.backgroundbanner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.login_box {
    border: 2px solid black;
    display: flex;
    width: 400px;
    height: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.button {
    border: 1px solid black;
    background-color: lightgrey;
    width: 35%;
    height: 20%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
}