.background{
    display: flex;
    width: 100%;
    height: 1000px;
    border: 1px dotted red;
    justify-content: center;
}

.cart_background {
    display: flex;
    border: 1px dotted blue;
    width: 45%;
    height: 100%;
    justify-content: center;
}

.card_box {
    display: flex;
    border: 1px dotted green;
    width: 50%;
    height: 35%;
    margin: 15px;
}

.purchase_box {
    display: flex;
    border: 2px dotted pink;
    width: 25%;
    height: 40%;
    margin-left: 30px;
}
