* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.background{
    display: flex;
    width: 100%;
    height: 1000px;
    border: 1px solid black;
    justify-content: center;
    background-color: lightgrey;
}

.cart_background {
    display: flex;
    border: 1px dotted blue;
    width: 40%;
    height: 100%;
    justify-content: center;
    background-color: white;
}

.card_box {
    display: flex;
    border: 1px solid black;
    width: 50%;
    height: 35%;
    margin: 15px;
    background-color: lightyellow;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}

.purchase_box {
    display: flex;
    border: 2px dotted pink;
    width: 25%;
    height: 40%;
    margin-left: 30px;
    background-color: white;
    margin-top: 15px;
    flex-direction: column;
}

.button1 {
    width: 40px;
    height: 30px;
    background-color: lightcoral;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button2 {
    width: 40px;
    height: 30px;
    background-color: lightgreen;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.button-background {
    display: flex;
    width: 25%;
    align-items: center;
}

.price-display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.cart-title {
    display:flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    align-items: center;
}

.product-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: 0 30px;
}

.middle-section-card {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
}

.product-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 20px;
}