.background{
    display: flex;
    width: 100%;
    height: 1000px;
    border: 1px dotted red;
    justify-content: center;
    background-color: lightgrey;
}

.cart_background {
    display: flex;
    border: 1px dotted blue;
    width: 45%;
    height: 100%;
    justify-content: center;
    background-color: aqua;
    margin-top: 20px;
}

.card_box {
    display: flex;
    border: 1px dotted green;
    width: 50%;
    height: 35%;
    margin: 15px;
    background-color: white;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.purchase_box {
    display: flex;
    border: 2px dotted pink;
    width: 25%;
    height: 40%;
    margin-left: 30px;
    background-color: whitesmoke;
    margin-top: 20px;
    flex-direction: column;
}

.button1 {
    width: 40px;
    height: 30px;
    background-color: lightcoral;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button2 {
    width: 40px;
    height: 30px;
    background-color: green;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px, 0 10px;
}

.button-background {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.price-display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.cart-title {
    display:flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
}

.product-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}

.price-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49%;
    height: auto;
    
}