ul {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    border: 1px solid black;
    margin-top: 0px;
    background-color: lightgray;
    padding: 5px;
    height: 2.5rem;
    align-items: center;
}

ul li {
    list-style: none;
    color:rgb(62, 159, 251);
    cursor: pointer;
    background-color: white;
    padding: 10px;
}