ul {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    border: 1px solid black;
    margin-top: 0px;
    background-color: lightgray;
    padding: 5px;
}

ul li {
    list-style: none;
    margin-left: 15px;
    border: 1px solid black;
    padding: 8px;
    border-radius: 7px;
    background-color: white;
}