.banner {
    display: flex;
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
    background-color: lightblue;
    margin: 0px;
    border: 1px solid grey;
}