.product_background {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.product {
    display: flex;
    height: 300px;
    width: 250px;
    margin: 15px;
    border: 1px solid black;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.product p {
    font-size: 14px;
    line-height: 1.7;
}