ul {
    display: flex;
}

ul li {
    list-style: none;
    padding: 10px;
}

ul li a {
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 7px;
}

ul li a:hover {
    background-color: lightgrey;
    color: black;
}