ul {
    display: flex;
}

ul li {
    list-style: none;
    padding: 0.625rem;
}

ul li a {
    text-decoration: none;
    border: 1px solid black;
    padding: 0.625rem;
    border-radius: 0.438rem;
}

ul li a:hover {
    background-color: lightgrey;
    color: black;
}
